@* Views/Articles/Delete.cshtml *@
@{
    ViewData["Title"] = "Delete Article";
}

<div class="container mt-4">
    <div class="alert alert-success">
        <h4><i class="bi bi-trash"></i> Article Deleted</h4>
        <p>The article has been removed successfully.</p>
        <hr>
        <a asp-controller="Users" asp-action="Index" class="btn btn-primary">Back to My Articles</a>
    </div>
</div>
